extends ./layout/login.pug

block content

  section.ribbon
  section
    .login.mdl-card.mdl-shadow--2dp
      .mdl-card__title.mdl-card--border
        h2.mdl-card__logo
          img(src="assets/images/logo.png")
        //- h2
      //- mdl-card__title
      .mdl-card__title
        h4.mdl-card__logo
          | Forgot your password?
        //- h2
      //- mdl-card__title
      .mdl-card__supporting-text
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#login-username.mdl-textfield__input(type='email')
          label.mdl-textfield__label(for='login-username') Email
        //- mdl-textfield
      //- mdl-card__supporting-text
      .mdl-card__actions
        a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(href='confirm.html')
          | Send
        //- a
      //- mdl-card__actions
    //- login
  //- section

block scripts
  script.
    $(document).ready(function() {

    });
