extends ./layout/login.pug

block content

  section.ribbon
  section
    .login.mdl-card.mdl-shadow--2dp
      .mdl-card__title
        h2.mdl-card__logo
          img(src="assets/images/logo.png")
        //- h2
      .mdl-card__supporting-text
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#login-username.mdl-textfield__input(type='email')
          label.mdl-textfield__label(for='login-username') Username / Email
        //- mdl-textfield
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#login-password.mdl-textfield__input(type='password')
          label.mdl-textfield__label(for='login-password') Password
        //- mdl-textfield
        label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='checkbox-1')
          input#checkbox-1.mdl-checkbox__input(type='checkbox')
          span.mdl-checkbox__label Remember me?
        //- label
      //- mdl-card__supporting-text
      .mdl-card__actions
        a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(href='index.html')
          | Login
        //- a
      //- mdl-card__actions
      //- mdl-card__menu
    //- login
  //- section

block scripts
  script.
    $(document).ready(function() {

    });
